{% extends 'base_user.html' %}

{% block body2 %}
    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="#" class="active">· 个人信息</a></li>
                <li><a href="/users/order">· 全部订单</a></li>
                <li><a href="/users/site">· 收货地址</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">
            <div class="info_con clearfix">
                <h3 class="common_title2">基本信息</h3>
                <ul class="user_info_list">
                    <li><span>用户名：</span>{{ request.user.username }}</li>
                    <li><span>联系方式：</span>{{ address.phone_number|default:'尚未添加收货地址' }}</li>
                    <li>
                        <span>联系地址：</span>{{ address.province.title }} {{ address.city.title }} {{ address.district.title }} {{ address.addr }}
                    </li>
                </ul>

            </div>
            <h3 class="common_title2">最近浏览</h3>
            <div class="has_view_list">
                <ul class="goods_type_list clearfix">
                    {% for goods in goods_list %}
                        <li>
                            <a href="/{{ goods.id }}"><img src="{{ goods.default_image.url }}"></a>
                            <h4><a href="/{{ goods.id }}">{{ goods.name }}</a></h4>
                            <div class="operate">
                                <span class="prize">￥{{ goods.price }}</span>
                                <span class="unit">{{ goods.price }}/{{ goods.unit }}</span>
                                <a href="#" class="add_goods" title="加入购物车"></a>
                            </div>
                        </li>
                    {% empty %}
                        <li>您还没有浏览任何商品哟～～</li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

{% endblock body2 %}
